/* ===== تعریف متغیرها ===== */
:root {
    --bg: radial-gradient(circle at center, #040324 20%, #000 50%);
    --form-bg: rgba(15, 15, 15, 0.45);
    --input-bg: rgba(221, 221, 221, 0.25);
    --text: #fff;
    --btn-bg: #212156;
    --btn-text: #fff;
    --file-bg: #72722d;
    --checkbox-border: #555;
    --checkbox-checked-bg: #3a3a15;
    --checkbox-checked-color: white;
    --hover-bg: rgba(15, 15, 15, 0.2);
    --radio-bg: rgba(15, 15, 15, 0.8);
    --radio-bg-hover: rgba(15, 15, 15, 0.1);
}

/* ===== تم روشن ===== */
html.light {
    --bg: radial-gradient(circle at center, #aaab12 20%, #e1e1e1 50%);
    --form-bg: rgba(255, 255, 255, 0.45);
    --input-bg: rgba(200, 200, 200, 0.5);
    --text: #000;
    --btn-bg: #212156;
    /* می‌تونی تغییر بدی */
    --btn-text: #fff;
    --file-bg: #aabb77;
    --checkbox-border: #555;
    --checkbox-checked-bg: #fff;
    --checkbox-checked-color: #72722d;
    --hover-bg: rgba(200, 200, 200, 0.3);
    --radio-bg: rgba(200, 200, 200, 0.8);
    --radio-bg-hover: rgba(200, 200, 200, 0.1);
}

/* ===== اسکرول بار ====== */

::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.35) transparent;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}

/* ===== رست سی اساس ===== */
* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 12ms;

}

/* ===== آیکون ==== */
.icon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 2vh;
    color: var(--text);
    cursor: pointer;
}

/* ===== بدنه ===== */
body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
    overflow: hidden;
    height: 100vh;
}

/* ===== main ===== */
.main {
    width: 80%;
    height: 80%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: var(--form-bg);
    border-radius: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ===== صفحه دوم ===== */
.form,
.callme,
.help-me {
    overflow-y: scroll;
    width: 82%;
    height: 95%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 5vh;
    background-color: var(--form-bg);
    border-radius: 34px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
}

/* ===== helper-tag ===== */
.helper_input_tag {
    width: 12vw !important;
}

/* ===== helper ====== */
.helperin {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ===== اینپوت و تگ ===== */
.input {
    color: var(--text);
    width: 80%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.input_tag {
    color: var(--text);
    padding: 0.375rem;
    width: 7rem;
    background-color: var(--input-bg);
    border-radius: 10px;
}

/* ===== چک باکس ===== */
.check_box {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--checkbox-border);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.check_box:checked {
    background-color: var(--checkbox-checked-bg);
    border-color: var(--checkbox-checked-bg);
}

.check_box:checked::after {
    content: "✔";
    color: var(--checkbox-checked-color);
    display: flex;
    width: 16px;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/* ===== متون ===== */
.text {
    width: 60vw;
    /* padding-left: -12rem; */
    gap: 9vh;
    height: 25vh;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: large;
    color: var(--text);
    text-align: end;
}


/* ===== فایل چوز و لینک ها ===== */
.file_choose,
a {
    color: var(--btn-text);
    text-decoration: none;
    display: flex;
    align-items: center;
    /* width: 75%; */
    justify-content: center;
    text-align: center;
    padding: 0.375rem;
    height: 5vh;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--file-bg);
}

/* ===== دکمه ===== */
form button {
    border-radius: 10px;
    font-size: x-large;
    width: 50%;
    height: 10%;
    cursor: pointer;
    padding: 0.375rem;
    background-color: var(--btn-bg);
    color: var(--btn-text);
}

/* ===== تصاویر رادیو ===== */
.radio_img img {
    position: absolute;
    z-index: 0;
    width: 120px;
    border-radius: 20px;
}

.radio_img {
    display: flex;
    cursor: pointer;
    position: relative;
    width: 120px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: all 0.3s;
}

.radio_img p:hover {
    color: var(--text);
    background-color: var(--hover-bg);
}

.radio_img p {
    border-radius: 20px;
    color: var(--text);
    position: absolute;

    width: 120px;
    height: 67.5px;
    background-color: var(--radio-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/* ===== فایل کانتینر ===== */
.file {
    height: 20vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* ===== هدر ===== */
.header {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

/* ===== بار =====*/
.now_bar {
    width: 9vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* ===== تیتر ===== */
h1 {
    width: 80%;
    font-size: x-large;
    color: var(--text);
    text-align: center;
}

/* ===== مخفی ===== */
.hidden {
    display: none;
}

/* ===== ریسپانسیو ===== */
@media only screen and (max-width:427px) {
    .main {
        flex-direction: column;
    }



    .form,
    .callme,
    .help-me,
    .main {
        width: 97vw;
    }



    .now_bar {
        height: 10vh;
        width: 100%;
        flex-direction: row;
        padding-top: -2vh;
        padding-bottom: 2vh;
    }


}