/* عرض اسکرول */
::-webkit-scrollbar {
    width: 10px;
}

/* پس‌زمینه اسکرول */
::-webkit-scrollbar-track {
    border-radius: 30px;
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

/* خود دسته اسکرول */
::-webkit-scrollbar-thumb {
    background: #235a64;
    border-radius: 10px;
}

/* زمانی که موس روش میره */
::-webkit-scrollbar-thumb:hover {
    background: #358493;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #358493 rgba(0, 0, 0, 0);
}







#callme {
    display: none;
}

.alert {
    display: flex;
    /* پیش‌فرض مخفی است */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(255, 255, 255, 0.325); */
    /* سیاه نیمه‌شفاف */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.btn-a {
    color: #ac483e !important;
    font-size: larger !important;
    text-decoration: none !important;
    width: 7rem !important;
    height: 2rem !important;
    background-color: #358493 !important;
    border-radius: 30px !important;
}

.alert-- {
    border: 5px dashed #0064d7;
    display: flex;
    /* پیش‌فرض مخفی است */
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    width: 40rem;
    height: 24rem;
    border-radius: 30px;
    gap: 0.5rem;
    /* background-color: rgba(0, 0, 0, 1) */
    background-color: #ac483e;
    /* سیاه نیمه‌شفاف */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

pre {
    height: 10rem;
    overflow-y: scroll;
    overflow-wrap: normal;
}

.center {
    width: 38rem;
    font-family: Shabnam;
    /* font-size: x-large; */
    /* height: 12rem; */
    color: #FFFAFA;
    font-family: Shabnam;
    /* border-radius: 0.75rem; */
    text-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-btn {
    all: unset;
    display: flex;
    border: 3px dotted #113034;
    justify-content: center;
    align-items: center;
    font-family: Shabnam;
    font-size: x-large;
    border-radius: 0.75rem;
    width: 8rem;
    height: 4rem;
    background-color: #358493;
}

.alert-btn:hover {
    background-color: #235a64;
}

.alert-btn:active {
    background-color: #113034;
}

.call {
    position: fixed;
    right: 0;
    width: 4rem;
    height: 2rem;
    font-size: x-small;

}

/* .callme{
    background-color: #191919;
    height: auto;
    width: 10rem;
} */
body {
    height: 100vh;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to right,#ff67aa,#34aacc); */
    background: #191919;
}

form {
    width: 50%;
    padding: 20px;
    height: 97%;
    /* height: auto; */
    background-color: rgba(05, 05, 05, 0.75);
    display: flex;
    flex-direction: column;
    /* justify-items: ; */
    /* flex-flow: ; */
    justify-content: space-around;
    border-radius: 40px;



}

.test {

    display: flex;
    justify-content: space-around;

}

.p {
    font-family: Shabnam;
    font-size: x-large;
    color: #dbdbdb;
}

.test .input {
    width: 9rem;
    color: white;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.225) !important;
    backdrop-filter: blur(300px);
    border-radius: 30px;
}

/* .se:checked ~ .in{display: flex;justify-content: space-around;gap: 0.375rem;padding: 1.5rem;} */

.input::placeholder {
    font-family: shabnam;
    font-size: x-large;
}

.message {
    display: none;
    font-family: shabnam;
    font-size: x-large;
    color: #ed2304;
}

.type {
    /* height: 7rem; */
    /* width: 35rem; */
    width: auto;
    height: 19rem auto;
    padding: 1vh;
    gap: 2vh;
    display: none;
    flex-direction: row;
    border-radius: 30px;
    justify-content: space-around;
    /* gap: 3rem; */
    /* gap: 4rem; */
    /* background-color: #708090; */
}

.first {
    position: relative;
}

.seconnd {
    height: 7rem;
    width: 15.2rem !important;
    position: relative;
}

.hidden {
    display: none;
}

.image {
    height: 7rem;
    width: 15.125rem;
    /* position: ; */
    border-radius: 30px;
}

.image::after {
    content: 'نوع استاندارد';
    font-family: shabnam;
    position: absolute;
    inset: 0;
    height: 7rem;
    width: 15.5rem;
    border-radius: 30px;
    background-color: rgba(5, 5, 5, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    backdrop-filter: blur(8px);
}

/* .image::after {
    content: 'به زودی ...';
    font-family: shabnam;
    position: absolute;
    inset: 0;
    height: 7rem;
    width: 15.5rem;
    border-radius: 30px;
    background-color: rgba(5, 5, 5, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    color: yellow;
    font-size: 1.2rem;
    backdrop-filter: blur(8px);
} */

.image:hover::after {
    transition: all 56ms;
    content: '';
    position: absolute;
    inset: 0;
    height: 17rem;
    width: 12.1rem;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
}

#second:checked~label .image::after {
    transition: all 56ms;
    content: '';
    position: absolute;
    inset: 0;
    height: 17rem;
    width: 12.1rem;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
}

.img {
    height: 7rem;
    width: auto;
    /* position: ; */
    border-radius: 30px;
}

.imag {
    height: 7rem;
    width: 15.125rem;
    cursor: pointer;
    /* position: ; */
    border-radius: 30px;
}

.imag::after {
    content: 'نوع ابداعی';
    font-family: shabnam;
    position: absolute;
    inset: 0;
    height: 7rem;
    width: 15.5rem;
    border-radius: 30px;
    background-color: rgba(5, 5, 5, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
    backdrop-filter: blur(8px);
}

.imag:hover::after {
    transition: all 56ms;
    content: '';
    position: absolute;
    inset: 0;
    height: 17rem;
    width: 12.1rem;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
}

#first:checked~label .imag::after {
    transition: all 56ms;
    content: '';
    position: absolute;
    inset: 0;
    height: 17rem;
    width: 12.1rem;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
}

.in {
    display: none;
}

.select {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.75rem;
    height: 1.5rem;
    padding: 0.75rem;
}

.btn {
    font-family: Shabnam;
    font-size: x-large;

    /* font-size: 2rem; */
    background-color: rgba(155, 255, 155, 0.5) !important;
    backdrop-filter: blur(300px);
    border: 30px;
    border-radius: 30px;
    /* all:unset */
}

.radio {
    appearance: none;

    -webkit-appearance: none;
    /* برای سافاری */
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 5px;
    cursor: pointer;
    color: #90ff70;
    position: relative;
}


.radio:checked {
    background-color: #4caf50;
    border-color: #4caf50;
}

.radio:checked::after {
    content: "✔";
    color: white;
    display: flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}


@media only screen and (max-width:992px) {
    form {
        width: 90%;
    }

}

@media only screen and (max-width:640px) {
    form {
        height: 175% !important;
    }

    body {
        height: 130vh !important;
    }

    .type {
        /* height: auto; */
        /* display: flex; */
        flex-direction: column;
    }

}

@media only screen and (min-width:640px) {
    form {
        height: 97% !important;
    }

    body {
        height: 100vh !important;
    }

    .type {
        /* height: auto; */
        /* display: flex; */
        flex-direction: row;
    }

}