{%load static%}

<!DOCTYPE html>
<html dir="rtl" lang=Fa>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>answer sheet maker</title>
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <script>
    const tg = window.Telegram.WebApp;
    tg.expand(); // تمام‌صفحه
  </script>
  <link rel="preconnect" href="//fdn.fontcdn.ir">
  <link rel="preconnect" href="//v1.fontapi.ir">
  <link href="https://v1.fontapi.ir/css/Shabnam" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body align="ltr">
  <form action="/generate/" method="POST">
    {% csrf_token %}
    <div class="test">
      <p class="p">تعداد تست</p>
      <input type='number' class="input" name="test_count">
    </div>



    <div class="select">
      <label class="p"> خط دار
        <input type="radio" class="radio" name="type" value="linear">
        <span class="checkmark"></span>
      </label>

      <label class="p"> ساده
        <input type="radio" class="radio" name="type" value="simple">
        <span class="checkmark"></span>
      </label>
    </div>


    <button type="submit" class="btn">
      <p >تولید پاسخبرگ</p>
    </button>

  </form>

</body>

</html>